body{
	
}

h1{
	font-size: 60px;
	text-align: center;
	color: white;
}

html{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    background-color: #f4bc42
}

img{
	display: block;
	margin: 0 auto;
}